<div data-controller="code-editor" data-code-editor-inactive-klass-value="text-purple-400 hover:text-purple-800" data-code-editor-active-klass-value="border-b-4 border-purple-800 text-purple-800 hover:text-purple-400" class="h-full w-full pt-2 lg:columns-2 gap-1" >
  <div class="flex flex-col lg:h-full h-1/2">
    <div class="">
      <div class="px-5">
        <button class="hover:bg-slate-200 text-purple-800 hover:text-purple-400 text-xs py-1 px-4 mx-1 rounded-t border-b-4 border-purple-800" data-code-editor-target="languageToggle" data-language="html">
          <i class="fa-brands fa-html5"></i> &nbsp;
          html
        </button>
        <button class="hover:bg-slate-200 text-purple-400 hover:text-purple-800 text-xs py-1 px-4 mx-1 rounded-t" data-code-editor-target="languageToggle" data-language="css">
          <i class="fa-brands fa-css3-alt"></i> &nbsp;
          css
        </button>
        <button class="hover:bg-slate-200 text-purple-400 hover:text-purple-800 text-xs py-1 px-4 mx-1 rounded-t" data-code-editor-target="languageToggle" data-language="javascript">
          <i class="fa-brands fa-square-js"></i> &nbsp;
          js
        </button>
      </div>
    </div>
    <div class="flex-1" data-code-editor-target="editor" data-language="html"></div>
    <div class="flex-1 hidden" data-code-editor-target="editor" data-language="css"></div>
    <div class="flex-1 hidden" data-code-editor-target="editor" data-language="javascript"></div>
  </div>

  <div class="flex flex-col lg:h-full h-1/2">
    <div class="">
      <div class="">
        <button class="text-slate-400 text-xs py-1 px-4 mx-1 rounded-t border-b-4 border-slate-400">
          <i class="fa-solid fa-eye"></i> &nbsp;
          preview
        </button>
      </div>
    </div>
    <iframe style="width: 100%; height: 100%; background: white;">
    </iframe>
  </div>
</div>
